---
layout: post
title:  "Portfolio"
category: Portfolio
permalink: '/portfolio'
---
	<section id="two" class="portfolio">
		<h2>Portfolio</h2>
		<div class="row">
			<article class="6u 12u$(xsmall) work-item">
				<a href="{{ site.github.url }}/images/fulls/03.jpg" class="image fit">{% include youtube-embedd.html id="nLe75NyBVas" %}</a>
				<h3>Mascoteria e Milo: logo indent</h3>
				<p>Variações para entradas de logos da </p><a class="link" href="https://amascoteria.com.br" target="_blank">Mascoteria</a><p>.</p>
			</article>
			<article class="6u$ 12u$(xsmall) work-item">
				<a href="https://soundcloud.com/marcosbacon/sets/daterra-coffee" class="image fit">{% include soundcloud-embedd.html id="playlists/791178537" %}</a>
				<h3>Daterra Coffee: cafés com ritmos</h3>
				<p>Eu e mais alguns parceiros criamos trilhas curtas para cada blend de café dessa marca.</p>
			</article>
			<article class="6u 12u$(xsmall) work-item">
				<a href="{{ site.github.url }}/images/fulls/01.jpg" class="image fit">{% include vimeo-embedd.html id="10022504" %}</a>
				<h3>Oikos Mania: minha primeira trilha</h3>
				<p>Trilha sonora para uma das equipes participantes do Curso Abril de Jornalismo em 2010.</p>
			</article>
			<article class="6u$ 12u$(xsmall) work-item">
				<a href="https://soundcloud.com/marcosbacon/sets/daterra-coffee" class="image fit">{% include soundcloud-embedd.html id="playlists/791957880" %}</a>
				<h3>Movimento Natura: Prêmios pra quem faz a diferença</h3>
				<p>Criei pequenas músicas para vídeos de um braço social e ecológico da Natura.</p>
			</article>			
			<article class="6u 12u$(xsmall) work-item">
				<a href="{{ site.github.url }}/images/fulls/03.jpg" class="image fit">{% include youtube-embedd.html id="WiF-pAvnGvY" %}</a>
				<h3>Criaturas Magnéticas - Mariana Gonçalves</h3>
				<p>Criei a ambientação sonora desses bichinhos de tecido da </p><a class="link" href="https://www.marianagoncalves.info/" target="_blank">Mari</a><p>.</p>

		</div>
	<!--	<ul class="actions">
			<li><a href="#" class="button">Full Portfolio</a></li>
		</ul>
	</section> -->
